body {
  font-family: cursive;
  background:honeydew;
}

header {
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: black;
  text-decoration: none;
}

header nav div {
  font-size: larger;
  background-color: coral;
  color: white;
  width: 200px;
  border-radius: 5px;
  transition: background-color .2s, color .2s;
  padding: 5px;
}

header nav div:hover {
  background-color: darkcyan;
  color: aqua;
}


.auth form {
  padding: 50px;
}

.auth form input {
  background-color: coral;
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}

button {
  background-color: coral;
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
  font-family: sans-serif;
}

button:hover {
  background-color: darkcyan;
  color: aqua;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  min-height: 400px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-column {
  background-color: #f5ffea;
}

.second-column {
  background-color: #fffbf5;
}

.movable-item {
  border-radius: 10px;
  background-color: #fff3f3;
  height: 100px;
  width: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.card-title {
  display: block;
}

h1 {
  text-align: center;
}

.home-section {
  padding: 20px;
  text-align: center;
  font-size: 3.5rem;
}

.home-section p {
  font-style: italic;
  font-family: cursive;
}